@model MiniCore.Models.Tarea

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombredelatarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombredelatarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechadeInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechadeInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEstimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProgreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProgreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
